body
{
  text-align: center;
  background-color: white;
}

#swapText
{
font-family: Arial;
}

.button
{
  background-color: rgb(67, 77, 221);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 25px 15px;
  font-size: 20px;
  font-style: bold;
  display: inline-block;
  cursor: pointer;
}
.button:hover
{
  background-color: rgb(90, 99, 224);
  transition: 0.2s;
}
.button:active
{
  background-color: rgb(67, 77, 221);
  transition: 0.1s;
}